<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>controller.AuthController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/v1/auth/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/v1/admin/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManagerController</servlet-name>
        <servlet-class>controller.ManagerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerController</servlet-name>
        <url-pattern>/v1/manager/*</url-pattern>
    </servlet-mapping>
</web-app>
